<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mystique.rt.getmydrivercardapplcation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".views.applications.activities.FirstApplicationActivity"
            android:label="@string/title_activity_first_application" />
        <activity
            android:name=".views.applications.activities.PictureActivity"
            android:label="@string/title_activity_picture" />
        <activity
            android:name=".views.applications.activities.OldCardInfoActivity"
            android:label="@string/title_activity_old_card_info" />
        <activity
            android:name=".views.applications.activities.NameReplacementActivity"
            android:label="@string/title_activity_name_replacement" />
        <activity
            android:name=".views.applications.activities.EUtoBGActivity"
            android:label="@string/title_activity_bgto_eu" />
        <activity
            android:name=".views.applications.activities.AddressReplacementActivity"
            android:label="@string/title_activity_address_replacement" />
        <activity
            android:name=".views.applications.activities.PictureReplacementActivity"
            android:label="@string/title_activity_picture_replacement" />
        <activity
            android:name=".views.applications.activities.RenewalActivity"
            android:label="@string/title_activity_renewal"></activity>
    </application>

</manifest>